
<h2>New shreds from fanees</h2>
<div class="row-fluid">
	<!-- List of shreds -->
	<div class="row">
		<div class="span2">
			<a class="nextShred" href="#">&lsaquo;</a>
		</div>

		<%_.each(_.first(shreds, 4),function(shred, i){%>

		<div class="span2">

		<a href="#shredPool" id="<%= i %>" class="newShredsFromFaneesAncor">
			<img class="imageClipped"
				src="resources/vidz/<%= shred.get('videoThumbnail') %>" />
			</a>
			<p class="lead"><%= shred.get('description') %></p>
			<p class="small"><%= shred.get('owner').username %></p>
			
		</div> 
		
		<%});%>

		<div class="span2">
			<a class="nextShred" href="#">&rsaquo;</a>
		</div>
		<!--  row-fluid -->
	</div>
</div>

<div id="newShredsFromFaneesModal"></div>