<!-- Background image with insert shred over -->
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="resources/pics/slashback.jpg" alt="">
			<div class="container">
				<div class="carousel-caption">
					
				<button type="button" class="btn btn-large btn-primary" id="openAddShredModal">Shred!</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.carousel -->

<div class="container">
	<div class="marketing">	
		<div id="addShredModalDiv"></div>
		<div id="newShredsModalBox"></div>
		
		<div id="newShredsFromFanees"></div>
		
		<hr id="shred" class="soften">

		<div id="shredNews"></div> 
		
		<hr id="shred" class="soften">

		<div id="topShreds"></div>

		<hr id="shred" class="soften">

		<div id="mightKnowShreds"></div>

		<hr id="shred" class="soften">

		<div id="shredsByTags"></div>


	</div>
</div>

